/*fonts moved to bottom*/

/* VARIABLES (color palette) */

:root {
    --bg-color: rgb(241, 241, 241);
    --bg-color-blur: rgba(241, 241, 241, 0.5);
    --accent-color: rgb(150, 65, 255);
    --border-color: rgb(0, 0, 0);
    --unfocus-color: rgb(63, 63, 63);
    --special-color1: rgb(247, 0, 255); /*Used to make each info box stand out more*/
    --special-color2: rgb(75, 0, 238);
    --special-color3: rgb(0, 213, 255);
}

/*ORIGINAL PALETTE

rgb(255, 126, 206)

    --bg-color: black;
    --accent-color: gold;
    --border-color: white;
    --unfocus-color: gray;
    --special-color1: #ff0000;
    --special-color2: #0099ff;
    --special-color3: #00ff00;
*/

/* BASIC */

html {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

* {
    margin: 0px;
    padding: 0px;
    scrollbar-color: var(--accent-color) var(--bg-color);
}

body {
    top: 0;
    background-image:url('../images/andrei-castanha.jpg'); /* Photo by Artem Sapegin on Unsplash*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.no-scroll { 
  height: 100%; 
  overflow: hidden; 
} 

p, li {
    line-height: 1.8;
}

/* SPLASH SCREEN */

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    font-size: 80px;
    color: var(--border-color);
}

#subtitle {
    font-size: 50px;
    color: var(--border-color);
    margin: 40px;
}

@media (max-width: 600px) {
    #title {
        font-size: 60px;
    }

    #subtitle {
        font-size: 30px;
        margin: 25px;
    }
}

#splash-button {
    font-size: 36px;
}

.text-functions {
    overflow-wrap: break-word;
}

.button-style {
    border-radius: 5px;
    border: 3px var(--border-color) solid;
    background-color: rgba(0, 0, 0, 0);
    color: var(--border-color);
    backdrop-filter: blur(10px);
    padding: 10px;
    transition-duration: 350ms;
}

.button-style:hover {
    background-color: var(--accent-color);
    border: 3px var(--accent-color) solid;
    color: var(--bg-color);
    cursor: pointer;
    /*filter: drop-shadow(0px 0px 20px var(--unfocus-color));*/
}

.disappear {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.8s, opacity 0.8s ease-in-out;
}


/* HEADER */

#header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    height: fit-content;
    margin-bottom: 40px;
    padding: 5px;
    background-color: var(--bg-color);
    border-bottom: 2px var(--accent-color) solid;
    display: flex;
    justify-content: center;
    transition: 0.4s ease-in-out;
    text-align: center;
}

#header-title {
    font-size: 40px;
    color: var(--border-color);
    transition: 0.5s;
    text-decoration: none;
}

#header-title:hover {
    color: var(--accent-color);
}

/* GENERIC STYLE CLASSES */

.circle-frame {
    border-radius: 50%;
    border-style: solid var(--border-color) 2px;
    border-color: var(--bg-color);
}

.horizontal-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vertical-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* BIO BOX CLASSES */
.bio-box {
    width: 70vw;
    min-width: 400px;
    height: fit-content;
    min-height: 330px;
    background-color: var(--bg-color-blur);
    backdrop-filter: blur(15px);
    filter: drop-shadow(0px 0px 20px var(--border-color));
    transition: 0.5s;
    margin-top: 5vh;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 15px;
}

.bio-box-scroll {
    width: 60vw;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--bg-color-blur);
    backdrop-filter: blur(15px);
    filter: drop-shadow(0px 0px 0px var(--border-color));
    transition: 0.5s;
    margin-top: 5vh;
    margin-bottom: 40px;
    padding: 20px;
}

.bio-box h1 {
    font-size: 24px;
    color: var(--border-color);
    text-align: center;
    transition: 0.4s ease-in-out;
}

.bio-box-scroll h1 {
    font-size: 24px;
    color: var(--unfocus-color);
    text-align: center;
    transition: 0.4s ease-in-out;
}

.bio-box p {
    font-size: 16px;
    color: var(--border-color);
    padding: 20px;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.bio-box-scroll p {
    font-size: 10px;
    color: var(--unfocus-color);
    padding: 20px;
    text-align: center;
    transition: 0.4s ease-in-out;
}

#bio-image {
    opacity: 1;
    width: 10vw;
    height: auto;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    margin: 20px auto 0 auto;
}

.bio-box #bio-image {
    filter: grayscale(0);
    filter: brightness(1);
    border: 2px var(--border-color) solid;
}

.bio-box-scroll #bio-image {
    filter: grayscale(1);
    filter: brightness(0.35);
    border: 2px var(--bg-color) solid;
}

@media (max-width: 1000px) or (max-height: 600px) or ((max-width: 1200px) and (max-height: 650px)) {
    .bio-box-scroll p {
        font-size: 16px;
        color: var(--border-color);
        padding: 20px;
        text-align: center;
        transition: 0.4s ease-in-out;
    }

    .bio-box-scroll #bio-image {
        filter: grayscale(0);
        filter: brightness(1);
        border: 2px var(--border-color) solid;
    }
}

/* INFO BOX CLASSES */

.info-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.info-box {
    width: 25vw;
    min-width: 400px;
    height: 40vh;
    min-height: 330px;
    border-radius: 15px;
    background-color: var(--bg-color-blur);
    backdrop-filter: blur(15px);
    transition: 0.2s ease-in-out;
}

.info-box:hover {
    transform: scale(1.02);
}

.info-box:nth-of-type(1) {
    filter: drop-shadow(0px 0px 0px var(--special-color1));
}
.info-box:nth-of-type(2) {
    filter: drop-shadow(0px 0px 0px var(--special-color2));
}
.info-box:nth-of-type(3) {
    filter: drop-shadow(0px 0px 0px var(--special-color3));
}

.info-box:nth-of-type(1):hover {
    filter: drop-shadow(-10px -10px 10px var(--special-color1));
}
.info-box:nth-of-type(2):hover {
    filter: drop-shadow(0px -10px 15px var(--special-color2));
}
.info-box:nth-of-type(3):hover {
    filter: drop-shadow(10px -10px 10px var(--special-color3));
}

.info-link-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info-box-title {
    font-size: 80px;
    text-align: center;
    color: var(--border-color);
}

@media (max-width: 600px) {
    .info-box {
        border: 2px var(--border-color) solid;
    }

    .info-box-title {
        font-size: 60px;
    }
}

.info-box-link {
    font-size: 36px;
}

.info-box .info-box-link {
    border-radius: 5px;
    border: 3px var(--border-color) solid;
    background-color: rgba(0, 0, 0, 0);
    color: var(--border-color);
    padding: 10px;
    transition-duration: 350ms;
    text-decoration: none;
}

.info-box:hover .info-box-link {
    border-radius: 5px;
    border: 3px var(--border-color) solid;
    background-color: rgba(0, 0, 0, 0);
    color: var(--border-color);
    padding: 10px;
    transition-duration: 350ms;
    text-decoration: none;
}

.info-box:hover .info-box-link:hover {
    color: var(--bg-color);
    cursor: pointer;
}

.info-box:nth-of-type(1):hover .info-box-link:hover {
    border: 3px var(--special-color1) solid;
    background-color: var(--special-color1);
}

.info-box:nth-of-type(2):hover .info-box-link:hover {
    border: 3px var(--special-color2) solid;
    background-color: var(--special-color2);
}

.info-box:nth-of-type(3):hover .info-box-link:hover {
    border: 3px var(--special-color3) solid;
    background-color: var(--special-color3);
}

@media (max-width: 600px) {
    .info-box:nth-of-type(1) .info-box-link {
        border: 3px var(--special-color1) solid;
        color: var(--border-color);
    }

    .info-box:nth-of-type(2) .info-box-link {
        border: 3px var(--special-color2) solid;
        color: var(--border-color);
    }

    .info-box:nth-of-type(3) .info-box-link {
        border: 3px var(--special-color3) solid;
        color: var(--border-color);
    }

    .info-box {
        min-width: 90vw;
        height: 40vh;
    }

    .info-link-flex {
        flex-direction: column;
    }

    .info-box-link {
        margin-top: 15px;
    }
}
  
/* CV SECTION */

.cv-box {
    width: 100%;
    height: fit-content;
    border-top: 2px var(--accent-color) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    margin-top: 40px;
    padding-top: 40px;
    text-align: left;

    /*position: sticky;
    top: -2px;*/
}

.cv-chunk {
    width: 60vw;
    height: fit-content;
    margin-left: 5vw;
    align-items: flex-start;
}

.cv-icon-container {
    width: 10vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-title {
    font-size: 24px;
    color: var(--border-color);
    text-align: center;
    margin-bottom: 10px;
}

.cv-icon-image {
    width: 100px;
    height: auto;
}

.cv-detail-box {
    color: var(--border-color);
    font-size: 16px;
    width: 50vw;
    height: fit-content;
    text-align: left;
    padding: 20px;
}

@media (max-width: 1000px) {
    .cv-title {
        font-size: 20px;
        color: var(--border-color);
        text-align: center;
        margin-bottom: 10px;
    }

    .cv-icon-image {
        width: 60px;
        height: auto;
    }

    .cv-chunk {
        width: 90vw;
    }

    .cv-detail-box {
        max-height: 70vh;
        overflow-y: scroll;
    }
}

@media (max-width: 800px) {
    .cv-title {
        font-size: 16px;
    }

    .cv-detail-box {
        font-size: 14px;
    }

    .cv-icon-container {
        margin-right: 20px;
    }
}

.cv-list li {
    margin: 11px 0 11px 0;
}

.cv-list li ul {
    margin-left: 40px;
}

.cv-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.cv-link:hover {
    text-decoration: underline;
}

/* FOOTER */

#footer {
    font-size: default;
    width: 100%;
    height: fit-content;
    padding: 30px;
    background-color: var(--bg-color);
    border-top: 2px var(--accent-color) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow-x: hide;
    margin-top: 0px;
    color: var(--border-color);
    z-index: 999;
}



/* FONTS */

.oswald-small350 { /* https://fonts.google.com/specimen/Oswald */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.oswald-medium500 { 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.oswald-large700 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.jersey-10-regular { /* https://fonts.google.com/specimen/Jersey+10 */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sixtyfour-default { /* https://fonts.google.com/specimen/Sixtyfour */
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.abril-fatface-regular { /* https://fonts.google.com/specimen/Abril+Fatface */
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.alumni-sans-normal {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.alumni-sans-bold {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
